node_modules
bin
yarn-error*
build
.env
devices.json
t.ts 
config/*
credential.json
devices.json
.vscode
.tuya
.matter
haos-arp-syncing/app/.matter
haos-arp-syncing/app/.tuya
haos-arp-syncing/app/node_modules
haos-arp-syncing/app/build
haos-arp-syncing/app/.env
haos-arp-syncing/app/bin
